<h3>ask your coach anything:</h3>
<form class ="form-container" action="/answer" method="get">
  <input class="input" type="text" name="question" placeholder= "should I go to work?">
  <input class="blue-btn" type="submit" value="Ask!">
</form>
