// Place all the styles related to the response controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: rgba(0,0,0,0.1);
$yellow: rgb(255, 255, 209);

h2, h3, a{
  font-family: sans-serif;
}

h2, h3{
  font-weight: lighter;
}

h3{
  font-style: italic;
}

a{
  text-decoration: none;
  padding: 10px 20px;
}

.container{
  border-left: 10px solid $grey;
  width: 600px;
  margin: 20px;
  padding: 10px 20px;
}

.coach{
  background-color: $yellow;
}
